{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container">
    <h1 class="text-center mb-5">Grožio salonai: </h1>
    <div class="row">
        {% if salonai_cntx %}
        {% for salono_obj in salonai_cntx %}
        <div class="col-sm-6 col-md-4 mb-5">
            <div class="card shadow-sm h-100">
                {% if salono_obj.cover %}
                <img src="{{ salono_obj.cover.url }}" class="card-img-top">
                {% else %}
                <img src="{% static 'img/no-image.png' %}" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ salono_obj.pavadinimas }}</h5>
                    <p class="card-text">{{ salono_obj.miestas }} {{ salono_obj.adresas }}</p>
                    <a href="{% url 'salonas_n' salono_obj.id %}" class="btn btn-primary stretched-link">Daugiau informacijos</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col">
            <p class="text-center">Salonų nėra</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

